.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #eee;
  padding: 5px;
}

.container-button {
  min-height: 40px;
  display: flex;
  align-items: flex-end;
}

.search-container {
  margin: 20px 0;
}
.search-container h1 {
  margin: 20px 0;
}